.page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page1 {
  background: red;
}
.page2 {
  background: blue;
}
.page3 {
  background: green;
}
.box {
  width: 400px;
  height: 400px;
  background: grey;
}
