body {
  overflow-x: hidden;
}
.page {
  width: 100%;
  height: 100vh;
}
.page1 {
  background: black;
}
.page2 {
  background: lightblue;
}
.page3 {
  background: black;
}
.page2 h1 {
  font-size: 40vw;
  margin: 0;
}
